.card-container {
    width: 200px;
    height: 250px;

    background-color: lightgrey;

    border: 1px solid darkgray;
    border-radius: 5px;

    cursor: pointer;
}

.card-info {
    text-align: left;
}

.editdelete-container{
    margin-right: 2px;
    position: relative;
    bottom: 70px;
    left: 100px;
    z-index: 9999;
}

.card-img {
    width: 100%;
    height: 160px;
    border-radius: 5px;
}