@import "mainStyle.css";

.card-container {
    width: 200px;
    height: fit-content;

    background-color: transparent;

    border: 1px  darkgray;
    border-radius: 5px;

    cursor: pointer;
}

.card-container:hover {
    background-color: lightgrey;
    transition: .2s;
}

.card-info {
    justify-content: center;
    text-align: left;
    margin-left: 10px;
}

.cardName{
    font-weight: bold;
    font-size: 17px;
}

.cardPrice {
    font-size: 16px;
}

.cardLocation {
    font-size: 16px;
    color: #545353;
}

.card-img {
    border-radius: 5px;
    object-fit: cover;
    background-color: white;
}