.card-container {
    width: 200px;
    min-height: 264px;
    height: fit-content;

    background-color: lightgrey;

    border: 1px solid darkgray;
    border-radius: 5px;

    cursor: pointer;
}

.card-info {
    text-align: left;
}

.editdelete-container{
    display: flex;
    text-align: center;
    align-items: center;
}

.card-img {
    width: 100%;
    height: 160px;
    border-radius: 5px;
}

.button-profile-container {
    display: flex;
    flex-direction: row;
}