.card-container-profile {
    width: 200px;
    min-height: 264px;
    height: fit-content;

    background-color: transparent;

    border: 1px solid darkgray;
    border-radius: 5px;

    cursor: pointer;
}

.card-info {
    text-align: left;
}

.card-img {
    width: 100%;
    height: 160px;
    border-radius: 5px;
}

.button-profile-container {
    display: flex;
    justify-content: center;
}



.editdelete-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.edit-button {
    width: 90px;
    margin-right: 5px;
}

.delete-button {
    width: 90px;
    margin-left: 5px;
}