.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info {
    text-align: left;
}
.button {
    text-align: left;
}

.container button {
    width: 15%;
}

.container input {
    width: 100%;
    font-size: medium;
}

.button {
    display: inline-block; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.btn-primary {
    --bs-btn-color: black;
}