@import "mainStyle.css";

.mainHeader {
    top:0px;
    position:fixed;
    z-index: 10;
    height: 130px;
    width: 100%;
    background-color: var(--HeaderColor);
    color: var(--PrimaryColor);
    text-align: left;
    border-bottom: 2px solid var(--ThirdColor);
}

    .topSectionHeader{
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        margin-top: 15px;
        align-items: center;
    }
        .topSectionHeaderLogo{
            display: inline;
            font-family: var(--LogoFont);
        }
            .topSectionHeaderLogo button{
                color: var(--PrimaryColor);
                font-size: 33px;
                background-color: transparent;
                border: transparent;
            }
        .topSectionHeaderSearch {
            display: flex;
            align-items: center;
            padding: 0px 30px;
        }
        .searchBarTextBox{
            border-radius: 30px;
            margin-left: 20px;
            padding: 15px;
            width: 250px;
            height: 50px;
            border: 2px solid var(--SecondaryColor);
        }

    .topSectionHeaderRight {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        margin-left: auto;
    }
        .topSectionHeaderRight button {
            margin-right: 20px;
            padding: 5px;
            border-radius: 20px;
            cursor: pointer;

            font-size: 15px;
            background-color: transparent;
            border: transparent;
        }
    .bottomSectionHeader{
        position: relative;
        display: flex;
        flex-flow: row;

        margin-left: 10px;
        margin-top: 15px;
    }
        .bottomSectionHeaderCategories{
            position: relative;
            width: 95%;
            display: flex;
            justify-content: center;
        }
            .bottomSectionHeaderCategories button{
                border-radius: 20px;
                padding: 5px 10px 5px 10px;
                margin: 0 50px;
                cursor: pointer;

                font-size: 15px;

                background-color: transparent;
                border: transparent;
            }
        .bottomSectionHeaderRightSide{
            width: auto;
            position: relative;
        }
            .bottomSectionHeaderRightSide button{
                margin-right: 30px;
                padding: 5px 10px 5px 10px;
                border-radius: 20px;
                cursor: pointer;

                background-color: transparent;
                border: solid firebrick 2px;
            }


