@import "mainStyle.css";

.container {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    z-index: 9999;
}

.container textarea {
    resize: none;
}

.container button {
    width: 175px;
}

.inputField {
    border-radius: .25em;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    --bs-btn-color: black;
    background: var(--PrimaryColor);
    border: 2px solid var(--SecondaryColor);
}

.submitButtons {
    margin: 10px;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
    width: 20px;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown label {
    text-align: center;
}

.dropdown select {
    width: fit-content;
    background-color: transparent;
    border-radius: 5px;
}
