@import "mainStyle.css";

.page {
    display: flex;
    position: relative;
    top: 50px;
}

.login-container {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-user-container {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputContainer {
    margin: auto;
    display: flex;
    position: relative;
    width: fit-content;
    flex-flow: column;
    font-family: var(--RegularFont);
    padding-bottom: 40px;
    color: black;
}

.inputContainer h1 {
    text-align: center;
}

.inputContainer input[type="text"] {
    margin-bottom: 5px;
    border-radius: 10px;
    border: solid 1px black;
    padding: 5px 10px;
    font-size: 13px;
    width: 30vw;
}

.inputContainer input[type="text"]:focus {
    background-color: var(--ThirdColor);
    outline: solid 1px var(--FourthColor);
}

.inputContainer textarea {
    border-radius: 15px;
    border: solid 1px black;
    padding: 10px;
    width: 30vw;
    font-size: 13px;
}

.inputContainer textarea:focus {
    background-color: var(--ThirdColor);
    outline: solid 1px var(--FourthColor);
}

.popup {
    z-index: 9999;
}

.container textarea {
    resize: none;
}

.container button {
    width: 175px;
}

.inputField {
    border-radius: .25em;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    --bs-btn-color: black;
    background: var(--PrimaryColor);
    border: 2px solid var(--SecondaryColor);
}

.submitButtons {
    margin: 10px;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
    width: 20px;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dropdown {
    display: flex;
    flex-direction: column;
}



.dropdown label {
    text-align: center;
}

.dropdown select {
    width: fit-content;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 10px;
    border: solid 1px black;
}

.dropdown select:hover {
    background-color: var(--ThirdColor);
    cursor: pointer;
}

.submitButton button {
    padding: 5px 10px;
}

.selectedFile {
    margin-top: 10px;
    margin-bottom: 30px;
}

.addPic button{
    background-color: red;
}