.page-container {
    height: fit-content;
    margin-top: 10%;
}

.row1 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 65%;
    height: 500px;
    border: 5px solid black;
}

.desc-container {
    width: 30%;
    margin-left: 10px;
    border: 5px solid black;
}

.forum-container {
    width: 75%;
    height: 50vh;
    margin: 10px;
    border: 5px solid black;
}