@import "mainStyle.css";

/* Style the search bar */
        .search-bar input[type="text"] {
            padding: 5px;
            margin-left: 20px;
            margin-right: 10px;
        }



        /* Style the post button */
        .post-button {
            background-color: orangered;
            color: black;
            border: none;
            margin-right: 10px;
            border-radius: 4px;
            cursor: pointer;

        }

        .user-actions {
            float:right;


        }

        /* Style the user profile icon */
        .user-profile  {
            width: 100px;
            height: 40px;
            margin-top:10px;
            display:flex;
            background-size: cover;
        }

        .search-filter {
            width: 210px;
            left: 0px;
            top: 100px;
            bottom: 0px;
            position: fixed;
            padding: 7.5px 7.5px 30px;
            background-color: var(--BackgroundColor);
            overflow-y: scroll;
            box-shadow: 1px 0px 7px var(--FourthColor);
        }
            .search-filter h1{
                font-size: 15px;
                font-family: var(--TitleFont);
                font-weight: bold;
                padding-top: 5px;
            }
            .search-filter text{

                font-family: var(--RegularFont);
                font-size: 12px;
            }

        .search-location, .search-price{
            margin-top: 10px;
        }

        .search-input{
            display: grid;
            grid-row-gap: 5px;
        }
            .search-input input {
                border: 1px solid var(--SecondaryColor);
                border-radius: 7px;
                padding: 0 5px;
                width: 175px;
            }
        input.small{
            font-size: 13px;
            padding: 3px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-right:10px;
            display:flex;
        }

        .search-filter-condition{
            margin-top: 10px;
            width:100%;
            position:relative;
            padding-bottom: 10px;
        }

        .condition {
            font-size: 13px;
            margin-top: 3px;
            position: relative;
            display:flex;
            padding-left: 5px;
        }
            .condition text{
                padding-left: 5px;
            }
            .condition [type="checkbox"]{
                appearance: none;
                display: inline-block;
                width: 16px;
                height: 16px;
                border: 1px solid var(--SecondaryColor);
                background-color: white;
                border-radius: 6px;
                margin-right: 5px;

            }
            .condition input[type="checkbox"]:checked{
                background-color: var(--ThirdColor);
                border-color: var(--FourthColor);
            }
            .condition input[type="checkbox"]:checked::before {
                content: '\2717';
                font-size: 13px;
                color: var(--FourthColor);
                position: relative;
                bottom: 3px;
                left: 2px;
            }
            .condition :hover {
                cursor: pointer;
            }

        .search-activity{
            margin-top: 3px;
            background-color: white;
            border: solid 1px var(--SecondaryColor);
            border-radius: 7px;
            width: 175px;
            height: 30px;
            padding: 2px 10px;
            font-family: var(--RegularFont);
            font-size: 12px;
        }

        .search-results{
            position: relative;
            margin-left: 220px;
            width: 80%;
            height: fit-content;
            margin-top: 140px;
        }
        .search-toolbar{

            position: relative;

            width: 100%;
            height:50px;

        }

        .search-tool-left{
            display: inline-flex;
            align-items: stretch;
            margin: 5px;
            border: 2px solid #222;
            border-radius: 4px;
            padding: 3px;
            outline: none;
            color: #222;
            background: white;


        }

        .search-results-time{

            padding: 2px;

        }

        .page-change{
            display: inline-flex;
            margin-left: 450px;

        }

        .leftArrowButton::before {
            content: '\2190'; /* Unicode character for left arrow */
            margin-right: 5px;
            right: 100px;
        }

        .rightArrowButton::after {
            content: '\2192'; /* Unicode character for right arrow */
            margin-left: 5px;
        }

        .ol{
            display: block;
            list-style-type: decimal;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;

        }

        .box-search-result, .ol, .card-gallery1{
            height: 200px;
            list-style-type: none;
            display: inline-block;
            height: 316px;
            width: 319px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 28px;
            margin-left: 0px;
            position: relative;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 0;
            box-shadow: 0 0 7px 0 #ddd;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .filterCommandButtons{
            justify-content: center;
            font-size: 15px;
        }
            .filterCommandButtons button{
                margin-right: 9px;
                margin-top: 15px;
                padding: 5px;
            }

        .gallery-inner, .main, .image{
            width: 316px;
            height: 237px;

            position: relative;
            /* seller picture on marketplace */
        }

        .a{
            text-decoration:none;
        }

        .card-label{
            position:relative;

            display: flex;
            left: 120px;

        }

        .leftArrowButton-container{
            margin-right:10px;

        }

        .rightArrowButton-container{
            margin-left:10px;
        }

        .lower-icon-container{
            position:relative;
            top:260px;
        }
        .card-location{
            padding: 4px;
            float: left;
            bottom: 10px;
            position: relative;

        }
        .close-x{
            padding: 4px;
            float: right;
            bottom: 10px;
            position: relative;
        }

        .category-title h1{
            font-size: 15px;
            font-family: var(--TitleFont);
            font-weight: bold;
            padding-top: 20px;
        }

        .categories-side-bar{
            display: flex;
            flex-flow: column;
            margin-left: 20px;
            font-size: 13px;
            width: fit-content;
        }
            .categories-side-bar button{
                padding: 2px 6px;
                margin-top: 2px;
                text-align: left;
            }